<!DOCTYPE html>
<html>
<!--
====================================================
    __  ____  ______________  _______ ___    __ 
   / / / /  |/  / ____/   \ \/ / ___//   |  / / 
  / /_/ / /|_/ / /_  / /| |\  /\__ \/ /| | / /  
 / __  / /  / / __/ / ___ |/ /___/ / ___ |/ /___
/_/ /_/_/  /_/_/   /_/  |_/_//____/_/  |_/_____/
                                                     
====================================================
Owner Name: Hossain Mohammad Faysal
Profile: https://www.facebook.com/hmfaysal
Version: 1.1
Description: Awesome dude, awesome life
====================================================
-->
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="https://schema.org/WebPage">
<header class="notepad-site-head">
    <div class="notepad-site-head-menu">
        <a class="notepad-blog-logo" href="{{ site.url }}"><img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" /></a>
        
        
        <div class="notepad-blog-menu">      
    <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
{% for link in site.links %}
            <li>{% if link.external %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% else %}
            <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
            {% endif %} </li>
{% endfor %}            
           <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
    </ul>
</div>
        <div class="clearfix"></div>
    </div>
    <div class="notepad-site-head-content" >
        <div class="notepad-site-head-bg"></div>
        <h1 class="notepad-blog-title">
            <span class="notepad-site-head-title-bg">
                {{ site.title }}
            </span>
        </h1>
        <h2 class="notepad-blog-description">{{ site.description }}</h2>
    </div>
</header>

<section class="section-small-padding background-white text-center"> 
    <table style="margin:auto; text-align: center;">
      <tr>
            <td>
                <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                        <i class="icon-sli-shield icon3x text-dark center margin-bottom-30"></i>
                        <h2 class="text-thin">Data Engineer</h2>
                        <p class="margin-bottom-30">tensorflow, sklearn, numpy, GCP, GAN, CNN, RNN, LSTM</p>
                        <a class="button button-dark-stroke text-size-12" href="https://kimbumso.github.io/categories/">GET MORE INFO</a>
                    </div>
                </div>
            </td>
            <td>
        <div class="s-12 m-12 l-4 margin-m-bottom">
          <div class="padding-2x block-bordered">
            <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
            <h2 class="text-thin">Developer</h2>
            <p class="margin-bottom-30">Spring, Django, AWS, Mysql, </p>
            <a class="button button-dark-stroke text-size-12" href="https://kimbumso.github.io/categories/">GET MORE INFO</a>
          </div>
        </div>
    </td>
    <td>
        <div class="s-12 m-12 l-4 margin-m-bottom">
          <div class="padding-2x block-bordered">
            <i class="icon-sli-home icon3x text-dark center margin-bottom-30"></i>
            <h2 class="text-thin">About Me</h2>
            <p class="margin-bottom-30">Introduce myself</p>
            <a class="button button-dark-stroke text-size-12" href="https://kimbumso.github.io/about/">GET MORE INFO</a>
          </div>
        </div>
    </td>
        </tr>
    </table>
  </section>

<main class="notepad-content" role="main">

            {{ content }}
</main>
    {% include footer.html %}

{% include scripts.html %}  
</body>
</html>