<!DOCTYPE html>
<html>
<!--
====================================================
    __  ____  ______________  _______ ___    __ 
   / / / /  |/  / ____/   \ \/ / ___//   |  / / 
  / /_/ / /|_/ / /_  / /| |\  /\__ \/ /| | / /  
 / __  / /  / / __/ / ___ |/ /___/ / ___ |/ /___
/_/ /_/_/  /_/_/   /_/  |_/_//____/_/  |_/_____/
                                                     
====================================================
Owner Name: Hossain Mohammad Faysal
Profile: https://www.facebook.com/hmfaysal
Version: 1.1
Description: Awesome dude, awesome life
====================================================
-->
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="https://schema.org/WebPage">
<header class="notepad-site-head">
    <div class="notepad-site-head-menu">
        <a class="notepad-blog-logo" href="{{ site.url }}"><img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" /></a>
        <label for="sidebar-checkbox" class="sidebar-toggle" style="background-image: url({{ site.url }}/images/{{ site.logo }});">
          <img src="images/link_image.png" alt="Link Logo" /> Link </label>
        <div class="notepad-blog-menu">      
    <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
{% for link in site.links %}
            <li>{% if link.external %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% else %}
            <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
            {% endif %} </li>
{% endfor %}            
            <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
    </ul>
</div>
        <div class="clearfix"></div>
    </div>
    <div class="notepad-site-head-content" >
        <div class="notepad-site-head-bg"></div>
        <h1 class="notepad-blog-title">
            <span class="notepad-site-head-title-bg">
                {{ site.title }}
            </span>
        </h1>
        <h2 class="notepad-blog-description">{{ site.description }}</h2>
    </div>
</header>
<!-- 2020.09.22 new template-->
<section class="u-align-center u-clearfix u-palette-5-dark-3 u-section-1" id="carousel_46af">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":""}--><!--/blog_options_json-->
    <div class="u-blog u-repeater u-repeater-1 u-align-center"><!--blog_post-->
      <div class="u-align-center u-blog-post u-container-style u-repeater-item u-video-cover u-white u-repeater-item-1">
        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><!--blog_post_image-->
          <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-1" src="images/KakaoTalk_20200922_da.jpg" data-image-width="960" data-image-height="720"><!--/blog_post_image--><!--blog_post_header-->
          <h4 class="u-blog-control u-text u-text-3">
            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Data Engineer<!--/blog_post_header_content--></a>
          </h4><!--/blog_post_header--><!--blog_post_content-->
          <div class="u-blog-control u-post-content u-text u-text-4"><!--blog_post_content_content-->tensorflow, Pytorch, Anaconda, Colab<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
          <a class="button button-dark-stroke text-size-12" href="https://kimbumso.github.io/categories/">GET MORE INFO</a>
        </div>
      </div><!--/blog_post--><!--blog_post-->
      <div class="u-align-center u-blog-post u-container-style u-repeater-item u-video-cover u-white u-repeater-item-2">
        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><!--blog_post_image-->
          <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-2" src="images/KakaoTalk_20200922_md.jpg" data-image-width="555" data-image-height="960"><!--/blog_post_image--><!--blog_post_header-->
          <h4 class="u-blog-control u-text u-text-5">
            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Developer<!--/blog_post_header_content--></a>
          </h4><!--/blog_post_header--><!--blog_post_content-->
          <div class="u-blog-control u-post-content u-text u-text-6"><!--blog_post_content_content-->Spring, Django, AWS, GCP, Mysql<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
          <a class="button button-dark-stroke text-size-12" href="https://kimbumso.github.io/categories/">GET MORE INFO</a>
        </div>
      </div><!--/blog_post--><!--blog_post-->
      <div class="u-align-center u-blog-post u-container-style u-repeater-item u-video-cover u-white u-repeater-item-3">
        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><!--blog_post_image-->
          <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-3" src="images/KakaoTalk_20200922_ed.jpg" data-image-width="610" data-image-height="396"><!--/blog_post_image--><!--blog_post_header-->
          <h4 class="u-blog-control u-text u-text-7">
            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->About Me<!--/blog_post_header_content--></a>
          </h4><!--/blog_post_header--><!--blog_post_content-->
          <div class="u-blog-control u-post-content u-text u-text-8"><!--blog_post_content_content-->Introduce myself<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
          <a class="button button-dark-stroke text-size-12" href="https://kimbumso.github.io/about/">GET MORE INFO</a>
        </div>
      </div><!--/blog_post-->
    </div><!--/blog-->
  </div>
</section>
<!-- 2020 09.22 부터 미사용
<section class="section-small-padding background-white text-center"> 
    <table style="margin:auto; text-align: center;">
      <tr>
            <td>
                <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                        <i class="icon-sli-shield icon3x text-dark center margin-bottom-30"></i>
                        <h2 class="text-thin">Data Engineer</h2>
                        <p class="margin-bottom-30">tensorflow, sklearn, numpy, GCP, GAN, CNN, RNN, LSTM</p>
                        <a class="button button-dark-stroke text-size-12" href="https://kimbumso.github.io/categories/">GET MORE INFO</a>
                    </div>
                </div>
            </td>
            <td>
        <div class="s-12 m-12 l-4 margin-m-bottom">
          <div class="padding-2x block-bordered">
            <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
            <h2 class="text-thin">Developer</h2>
            <p class="margin-bottom-30">Spring, Django, AWS, Mysql, </p>
            <a class="button button-dark-stroke text-size-12" href="https://kimbumso.github.io/categories/">GET MORE INFO</a>
          </div>
        </div>
    </td>
    <td>
        <div class="s-12 m-12 l-4 margin-m-bottom">
          <div class="padding-2x block-bordered">
            <i class="icon-sli-home icon3x text-dark center margin-bottom-30"></i>
            <h2 class="text-thin">About Me</h2>
            <p class="margin-bottom-30">Introduce myself</p>
            <a class="button button-dark-stroke text-size-12" href="https://kimbumso.github.io/about/">GET MORE INFO</a>
          </div>
        </div>
    </td>
        </tr>
    </table>
  </section>
  -->
  <main class="notepad-content" role="main">
    <div class="wrapper">
      <div class="mainConents">
        {% include sidebar.html %}
        {{ content }}
      </div>
    </div>
  </main>
  {% include footer.html %}
  {% include scripts.html %}  
</body>
</html>