<!DOCTYPE html>
<html>
<!--
====================================================
    __  ____  ______________  _______ ___    __ 
   / / / /  |/  / ____/   \ \/ / ___//   |  / / 
  / /_/ / /|_/ / /_  / /| |\  /\__ \/ /| | / /  
 / __  / /  / / __/ / ___ |/ /___/ / ___ |/ /___
/_/ /_/_/  /_/_/   /_/  |_/_//____/_/  |_/_____/
                                                     
====================================================
Owner Name: Hossain Mohammad Faysal
Profile: https://www.facebook.com/hmfaysal
Version: 1.1
Description: Awesome dude, awesome life
====================================================
-->
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="https://schema.org/WebPage">
<header class="notepad-site-head">
    <div class="notepad-site-head-menu">
        <a class="notepad-blog-logo" href="{{ site.url }}"><img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" /></a>
        
        
        <div class="notepad-blog-menu">      
    <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
{% for link in site.links %}
            <li>{% if link.external %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% else %}
            <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
            {% endif %} </li>
{% endfor %}            
           <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
    </ul>
</div>
        <div class="clearfix"></div>
    </div>
    <div class="notepad-site-head-content" >
        <div class="notepad-site-head-bg"></div>
        <h1 class="notepad-blog-title">
            <span class="notepad-site-head-title-bg">
                {{ site.title }}
            </span>
        </h1>
        <h2 class="notepad-blog-description">{{ site.description }}</h2>
    </div>
</header>
<!-- 2020.09.22 new template-->
<section class="u-align-center u-clearfix u-palette-5-dark-3 u-section-1" id="carousel_46af">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h1 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-1">Blog Posts</h1>
    <p class="u-text u-text-default u-text-2">Images from <a href="https://www.freepik.com/free-photos-vectors/business" target="_blank"><b>Freepik</b>
      </a>
    </p><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":""}--><!--/blog_options_json-->
    <div class="u-blog u-repeater u-repeater-1"><!--blog_post-->
      <div class="u-align-center u-blog-post u-container-style u-repeater-item u-video-cover u-white u-repeater-item-1">
        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><!--blog_post_image-->
          <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-1" src="images/business-people-sitting-office-desk-working-project_1098-17930.jpg" data-image-width="626" data-image-height="417"><!--/blog_post_image--><!--blog_post_header-->
          <h4 class="u-blog-control u-text u-text-3">
            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Post 1 Headline<!--/blog_post_header_content--></a>
          </h4><!--/blog_post_header--><!--blog_post_content-->
          <div class="u-blog-control u-post-content u-text u-text-4"><!--blog_post_content_content-->Sample small text. Lorem ipsum dolor sit amet.<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
          <a href="https://nicepage.com" class="u-blog-control u-border-active-none u-border-hover-none u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-btn-1"><!--blog_post_readmore_content-->Read More<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
        </div>
      </div><!--/blog_post--><!--blog_post-->
      <div class="u-align-center u-blog-post u-container-style u-repeater-item u-video-cover u-white u-repeater-item-2">
        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><!--blog_post_image-->
          <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-2" src="images/handshake-business-men-concept_53876-31214.jpg" data-image-width="626" data-image-height="417"><!--/blog_post_image--><!--blog_post_header-->
          <h4 class="u-blog-control u-text u-text-5">
            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Post 2 Headline<!--/blog_post_header_content--></a>
          </h4><!--/blog_post_header--><!--blog_post_content-->
          <div class="u-blog-control u-post-content u-text u-text-6"><!--blog_post_content_content-->Sample small text. Lorem ipsum dolor sit amet.<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
          <a href="https://nicepage.com" class="u-blog-control u-border-active-none u-border-hover-none u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-btn-2"><!--blog_post_readmore_content-->Read More<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
        </div>
      </div><!--/blog_post--><!--blog_post-->
      <div class="u-align-center u-blog-post u-container-style u-repeater-item u-video-cover u-white u-repeater-item-3">
        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><!--blog_post_image-->
          <img alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-3" src="images/a-min.jpg" data-image-width="1600" data-image-height="1067"><!--/blog_post_image--><!--blog_post_header-->
          <h4 class="u-blog-control u-text u-text-7">
            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->Post 3 Headline<!--/blog_post_header_content--></a>
          </h4><!--/blog_post_header--><!--blog_post_content-->
          <div class="u-blog-control u-post-content u-text u-text-8"><!--blog_post_content_content-->Sample small text. Lorem ipsum dolor sit amet.<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
          <a href="https://nicepage.com" class="u-blog-control u-border-active-none u-border-hover-none u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-btn-3"><!--blog_post_readmore_content-->Read More<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
        </div>
      </div><!--/blog_post-->
    </div><!--/blog-->
    <a href="https://nicepage.com" class="u-border-2 u-border-white u-btn u-btn-rectangle u-button-style u-none u-btn-4">learn more</a>
  </div>
</section>

<section class="section-small-padding background-white text-center"> 
    <table style="margin:auto; text-align: center;">
      <tr>
            <td>
                <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                        <i class="icon-sli-shield icon3x text-dark center margin-bottom-30"></i>
                        <h2 class="text-thin">Data Engineer</h2>
                        <p class="margin-bottom-30">tensorflow, sklearn, numpy, GCP, GAN, CNN, RNN, LSTM</p>
                        <a class="button button-dark-stroke text-size-12" href="https://kimbumso.github.io/categories/">GET MORE INFO</a>
                    </div>
                </div>
            </td>
            <td>
        <div class="s-12 m-12 l-4 margin-m-bottom">
          <div class="padding-2x block-bordered">
            <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
            <h2 class="text-thin">Developer</h2>
            <p class="margin-bottom-30">Spring, Django, AWS, Mysql, </p>
            <a class="button button-dark-stroke text-size-12" href="https://kimbumso.github.io/categories/">GET MORE INFO</a>
          </div>
        </div>
    </td>
    <td>
        <div class="s-12 m-12 l-4 margin-m-bottom">
          <div class="padding-2x block-bordered">
            <i class="icon-sli-home icon3x text-dark center margin-bottom-30"></i>
            <h2 class="text-thin">About Me</h2>
            <p class="margin-bottom-30">Introduce myself</p>
            <a class="button button-dark-stroke text-size-12" href="https://kimbumso.github.io/about/">GET MORE INFO</a>
          </div>
        </div>
    </td>
        </tr>
    </table>
  </section>
  <main class="notepad-content" role="main">
        <div class="wrapper">
            <div class="sides">
                <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">머신러닝 코드</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://paperswithcode.com/">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">논문사이트</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://arxiv.org/">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">Kaggle</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://www.kaggle.com/kimbumso">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">gsutil사용</h3>
                      <p class="margin-bottom-30">Discription </p> 
                      <a class="button button-dark-stroke text-size-12" href="https://cloud.google.com/storage/docs/quickstart-gsutil?hl=ko">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">KoBERT skt 에서 만든 BERT </h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://github.com/SKTBrain/KoBERT">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">colab 사용</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://zzsza.github.io/data/2018/08/30/google-colab/#google-storage%EC%97%90%EC%84%9C-%ED%8C%8C%EC%9D%BC-%EC%9D%BD%EA%B8%B0">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">kerasGAN</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://github.com/eriklindernoren/Keras-GAN">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">ipython -> md 파일 변환</h3>
                      <p class="margin-bottom-30">Convert IPython Notebooks to markdown (and back) </p>
                      <a class="button button-dark-stroke text-size-12" href="https://sebastianraschka.com/pdf/books/dlb/appendix_d_calculus.pdf">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">역전파 알고리즘 </h3>
                      <p class="margin-bottom-30">아래 링크에 함수 미분, 편미분, 그래디언트, 야코비 행렬에 대해 설명 </p>
                      <a class="button button-dark-stroke text-size-12" href="https://github.com/aaren/notedown">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">특성 선택 알고리즘</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="http://rasbt.github.io/mlxtend/user_guide/feature_selection/SequentialFeatureSelector/">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">사이킷런 비선형 차원 축소</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://scikit-learn.org/stable/modules/manifold.html">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">모델 평가와 교차 검증</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://tensorflow.blog/2017/03/30/model-evaluation-selection-and-algorithm-selection/">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">인공적인 훈련 샘플 생성(불균형한 클래스를 다루는 기법)</h3>
                      <p class="margin-bottom-30">SMOTE(Synthetic Minority Over-sampling Technique) </p>
                      <a class="button button-dark-stroke text-size-12" href="https://github.com/scikit-learn-contrib/imbalanced-learn#id36">GET MORE INFO</a>
                    </div>
                  </div>
                  <!--
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">배깅</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://link.springer.com/content/pdf/10.1007/BF00058655.pdf">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">GAN 얼굴 인식</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://www.kaggle.com/bmarcos/image-recognition-gender-detection-inceptionv3">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">스펙트럴 군집분석</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://arxiv.org/pdf/0711.0189v1.pdf">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">배치 정규화(Batch Normalization)</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://arxiv.org/pdf/1502.03167.pdf">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">합성곱 출력 크기 관련 논문</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://tensorflow.blog/a-guide-to-convolution-arithmetic-for-deep-learning/">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">배치 정규화(Batch Normalization)</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://arxiv.org/pdf/1502.03167.pdf">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">위노그라드 최솟값 필터링</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://arxiv.org/pdf/1509.09308.pdf">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">합성곱 네트워크에서 겹침 풀림이 사용되는 논문</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://papers.nips.cc/paper/4824-imagenet-classification-with-deep-convolutional-neural-networks.pdf">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">옵티마이저 :Adam</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://arxiv.org/pdf/1412.6980.pdf">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">디스커스 (댓글)</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://disqus.com/by/kimbumso/">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">대주주 지분 공시</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://sims.krx.co.kr/p/Fids0103/">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">인베스팅닷컴</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://kr.investing.com/">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered">
                      <i class="icon-sli-umbrella icon3x text-dark center margin-bottom-30"></i>
                      <h3 class="text-thin">네이버 종토방</h3>
                      <p class="margin-bottom-30">Discription </p>
                      <a class="button button-dark-stroke text-size-12" href="https://finance.naver.com/research/">GET MORE INFO</a>
                    </div>
                  </div>
                -->
            </div>
            <div class="mainConents">
                {{ content }}
            </div>
        </div>
</main>
    {% include footer.html %}

{% include scripts.html %}  
</body>
</html>